---
import Layout from "../layouts/Base.astro";

const title = "Photos";
---

<Layout title={title}>
  <div class="text-center">
    <h1>Hello from {title}</h1>
    <p class="text-xl my-4">
      Visit <a href="/gallery" class="underline">Gallery page</a> to see some images.
    </p>
    <code> var x = 1; console.log(x); </code>
  </div>
</Layout>
