---
import Base from "../layouts/Base.astro";

const title = "Photos and Words";
---

<Base title={title}>
  <div class="text-center">
    <h1 class="mb-3">{title}</h1>
    <h5 class="text-teal-200 mb-15">by Scott Willsey</h5>
    <p class="text-xl my-4">
      Visit <a href="/photos" class="underline">Photos</a> to see some amazing images.
    </p>
    <p class="text-xl my-4">
      Visit <a href="/words" class="underline">Words</a> to read some thoughts about
      things I've seen.
    </p>
  </div>
</Base>
