---
import Base from "../layouts/Base.astro";
import Lightbox from "@components/Pandabox.astro";
---

<Base title="Welcome to Astro.">
  <main class="surface">
    <h1>Lightbox with Slide-in Transition</h1>
    <p>Using transitionType="slide".</p>
    <!-- <code> &lt;Lightbox galleryid="jwst" transitionType="slide" /&gt; </code> -->
    <Lightbox albumid="panda" transitionType="slide" />
  </main>
</Base>
