---
const { breadcrumbs } = Astro.props;
const { breadcrumbs: items } = breadcrumbs;
---

<nav class="max-w-4xl mx-auto text-sm text-gray-500 dark:text-gray-400 mb-6 -mt-6" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1">
    {
        breadcrumbs.length > 0 && (
            <span class="mx-2 text-teal-200">/</span>
            <span class="text-teal-200"><a href="/">Home</a></span>
            <span class="mx-2 text-teal-200">/</span>
        )
    }
    {
      breadcrumbs.map((crumb, i) => (
        <li>
          <a
            href={crumb.href}
            class={`inline-flex items-center ${
              i === breadcrumbs.length - 1
                ? "font-bold text-neutral-50"
                : "text-teal-200"
            }`}
          >
            {crumb.title}
          </a>
          {i < breadcrumbs.length - 1 && (
            <span class="mx-2 text-teal-200">/</span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
