---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Footer from "../components/Footer.astro";

const { title = "Photo Gallery", slug, breadcrumbs = [] } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header slug={slug} />
    <main class="container mx-auto px-4 py-16">
      {slug !== "home" && <Breadcrumbs breadcrumbs={breadcrumbs} />}
      <slot />
    </main>
    <Footer />
  </body>
</html>
